.normal {
  background-color: white !important;
  border-color: black !important;

  &:hover {
    color: black !important;
  }
}

.noBackground {
  background-color: transparent !important;
  color: white !important;

  &:hover {
    color: white !important;
  }
}

.greendBackground {
  background-color: #1ed760 !important;
  color: black;

  &:hover {
    color: black !important;
  }
}

.smallCircle {
  padding-left: 4px !important;
  padding-right: 28px !important;
  padding-bottom: 30px !important;
  height: 20px !important;
  width: 20px !important;
}

.mediumCircle {
  padding-top: 6px !important;
  padding-left: 4px !important;
  height: 45px;
  width: 45px !important;
}

.largeCircle {
  padding-top: 6px !important;
  padding-left: 4px !important;
  height: 60px;
  width: 60px !important;
}

.small {
  border-radius: 15px !important;
  padding: 4px 12px !important;
}

.medium {
  width: 100%;
  height: 40px;
  border-radius: 8px !important;
}

.large {
  padding: 10px 30px 35px 30px !important;
  border-radius: 30px !important;
}

.submit {
  background-color: #50a994 !important;
  margin: 8px auto;
  border-radius: 40px !important;
  width: 100%;
  height: 60px;
  border-color: transparent !important;

  &:hover {
    border-color: transparent !important;
    color: black !important;
  }
}