* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: white;
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

.text-white {
  color: white;
}

.text-green {
  color: #17a288;
}

.active-green {
  color: rgb(9, 216, 9);
}

.text-red {
  color: red;
}

.text-blue {
  color: #154398;
}

.text-matte {
  color: #db6784;
}

.text-black {
  color: black;
}

.text-gray {
  color: #aaa;
}

.text-center {
  text-align: center;
}

.not-seen-notify {
  background-color: rgb(230, 247, 255);
}